.fab, .fas {
    margin: 0px 5px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin-bottom: 100px;
}

.jumbotron {
    background-color: #007bff;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navlink {
    color: white;
}

.card-header {
    background-color: #007bff;
    color: white;
}

.font-link {
    color: #ffffff;
    background-color: transparent;
}

img {
    height: 35%;
    width: 35%;
    border: solid #343a40;
}

.img-div {
    text-align: center;
}

.card-row {
    margin-bottom: 15px;
}

.project-header {
    background-color: white;
    color: black;
    text-align: center;
}

.footer {
    padding: 25px;
    background-color: #343a40;
    color: #fff;
}

#footer-text {
    text-align: center;
    margin-bottom: 0;
}